---
const links = ["Features", "Pricing", "Blog", "Docs"]
---

<header>
  <nav class="container">
    <ul>
      <li><strong><a href="#">✦ Luminary</a></strong></li>
    </ul>
    <ul>
      {
        links.map((link) => (
          <li>
            <a href="#" class="contrast">
              {link}
            </a>
          </li>
        ))
      }
      <li><button class="outline secondary">Log in</button></li>
      <li><button>Get started</button></li>
    </ul>
  </nav>
</header>
